
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul {
    list-style: none;
}

li {
    background-color: rgb(0, 100, 255);
    padding: 1em;
    width: 150px;
    height: 3em;
    margin: 1em;
    z-index: 1000;
    -moz-transition: -moz-transform .5s;
}

li:hover {
    -moz-transition: -moz-transform .5s;
}

.render-options {
    float: right;
}

.render-options a,
.render-options a:visited {
    display: inline-block;
    padding: 1em;
    color: white;
    border: 1px solid #bd5294;
}

.render-options a:target {
    background-color: #bd5294;
}
