
body {
    margin: 0;
}

body p {
    width: 50em;
}

.header {
    background-color: #361a11;
    color: white;
    padding: 2em;
}

.header a,
.header a:active,
.header a:visited {
    display: inline-block;
    padding: 1em;
    background-color: #bd5294;
    color: white;
    margin-left: 1em;
}

.content {
    margin: 1em 2em;
}

.clear {
    clear: both;
}

._dom3d {
    position: absolute;
    top: 0;
    opacity: 1;
    left: 0;
    width: 1px;
    height: 1px;
    background-color: red;
    background-position: bottom left;
    background-repeat: no-repeat;
    overflow: hidden;
    -moz-transition-duration: 3s;
    -moz-transition-property: top, opacity;
    -webkit-transition-duration: 3s;
    -webkit-transition-property: top, opacity;
    /* border: 1px solid blue; */
}

._dom3d.border {
    border: 1px solid red;
}

._dom3d.off:nth-of-type(2n) {
    top: 100px;
    opacity: 0;
    -moz-transition-duration: 3s;
    -moz-transition-property: top, opacity;
    -webkit-transition-duration: 3s;
    -webkit-transition-property: top, opacity;
}

._dom3d.off:nth-of-type(2n + 1) {
    top: -100px;
    opacity: 0;
    -moz-transition-duration: 3s;
    -moz-transition-property: top, opacity;
    -webkit-transition-duration: 3s;
    -webkit-transition-property: top, opacity;
}

.off-code {
    display: none;
}

#main #canvas {
    position: fixed;
    top: 100px;
    right: 0;
    width: 600px;
    height: 300px;
}

#main #controls {
    position: fixed;
    top: 500px;
    width: 300px;
    right: 0;
    padding: 1em;
    background-color: #361a11;
    color: white;
}

#canvas2 {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 150px;
}

/* #boxes:before { */
/*     display: block; */
/*     width: 100px; */
/*     height: 100px; */
/*     position: absolute; */
/*     top: 0; */
/*     left: 0; */
/*     border: 1px solid green; */
/*     content: ' '; */
/* } */

.example {
    float: left;
    margin-right: 7em;
    width: 50px;
    height: 50px;
    background-image:
       -moz-linear-gradient(-45deg, red 50%, transparent 0);
    background-image:
       -webkit-gradient(linear, 
                        0 0,
                        50 50,
                        from(red), 
                        color-stop(.5, red), 
                        color-stop(.5, transparent), 
                        to(transparent))
}

.example2 {
    -moz-transform: skew(30deg);

    -moz-transform: matrix(3,4,2,3,3,4);
    -moz-transform: matrix3d(3,4,2,3,3,4,3,5,3);

    -webkit-transform: skew(30deg);
}

.example3 {
    -moz-transform: rotate(.78rad);
    -moz-transform-origin: bottom left;
    -webkit-transform: rotate(.78rad);
    -webkit-transform-origin: bottom left;
}

.example4 {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 75px 75px;
    border-color: red transparent transparent red;
    margin: 15em;
    padding: 0;
    font-size: 0;
    /* background-image: */

    /*    -moz-linear-gradient(-45deg, red 50%, transparent 0); */
    -moz-transform: rotate(.2rad);
    -moz-transform-origin: top left;
}

.last {
    margin-top: 5em;
}

.nav {
    float: left;
}

.render-options {
    float: right;
}

.render-options a,
.render-options a:visited {
    display: inline-block;
    padding: 1em;
    color: white;
    border: 1px solid #bd5294;
    background-color: transparent;
}

.render-options a.selected {
    background-color: #bd5294;
}

.render-options div {
    display: inline-block;
    font-style: italic;
    font-size: .75em;
    width: 7em;
    margin-left: 1em;
    vertical-align: bottom;
}