
body {
    margin: 0;
}

body p {
    width: 50em;
}

.header {
    background-color: #361a11;
    color: white;
    padding: 2em;
}

.header a,
.header a:active,
.header a:visited {
    display: inline-block;
    padding: 1em;
    background-color: #bd5294;
    color: white;
    margin-left: 1em;
}

.content {
    margin: 1em 2em;
}

.clear {
    clear: both;
}

.box {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    background-color: red;
    background-position: bottom left;
    background-repeat: no-repeat;
    overflow: hidden;
}

.box.off:nth-of-type(2n) {
    top: 100px;
    opacity: 0;
    -moz-transition: all 2s;
}

.box.off:nth-of-type(2n + 1) {
    top: -100px;
    opacity: 0;
    -moz-transition: all 3s;
}


#boxes {
    position: fixed;
    top: 100px;
    right: 0;
    border: 1px solid red;
}

#boxes2 {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 150px;
}

/* #boxes:before { */
/*     display: block; */
/*     width: 100px; */
/*     height: 100px; */
/*     position: absolute; */
/*     top: 0; */
/*     left: 0; */
/*     border: 1px solid green; */
/*     content: ' '; */
/* } */

.example {
    float: left;
    margin-right: 7em;
    width: 50px;
    height: 50px;
    background-image:
       -moz-linear-gradient(-45deg, red 50%, transparent 0);
}

.example2 {
    -moz-transform: skew(30deg);
}

.example3 {
    -moz-transform: rotate(.78rad);
    -moz-transform-origin: bottom left;
}

.last {
    margin-top: 5em;
}